body{
    background-color: #000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:1150px;    
}.volume{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.square{
    width:45px;
    height:45px;
    background-color: blue;position: relative;
    left:-52px;

}
.triangle{
    width:150px;
    height:150px;
    background-color: blue;
    clip-path: polygon(0 51%, 99% 0, 99% 100%);
    position: absolute;
    z-index:100;
}
.right-border{
    width:70px;
    height:200px;
    position: relative;
    left: -40px;
    background-color: black;
}
.circle-1{
    background-color: black;
    width:90px;
    height:90px;
    border:5px solid blue;
    border-radius: 50%;
    z-index:3;
    position: absolute;
}
.circle-2{
    background-color: black;
    width:120px;
    height:120px;
    border:5px solid blue;
    border-radius: 50%;
    z-index:2;
    position: absolute;
}
.circle-3{
    background-color: black;
    width:148px;
    height:148px;
    border:5px solid blue;
    border-radius: 50%;
    z-index:1;
    position: relative;
    
}
